html, body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}


/*MAIN*/





/*SUPPORTING*/





/*BANNER*/





/*FOOTER*/


.footer {
  height: 110px;
  background-color: #EEEEEE;
}

.footer p {
  font-size: 12px;
  text-align: left;
  line-height: 108px;
}
